# Popularity based recommender system
This takes into considerdation the ratings and number of people who has rated a movie. <br>
T

In [3]:
import numpy as np  
import pandas as pd

In [4]:
ratings_data = pd.read_csv("ratings.csv")  
ratings_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
movie_names = pd.read_csv("movies.csv")  
movie_names.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movie_data = pd.merge(ratings_data, movie_names, on='movieId')

In [7]:
movie_data.head()

   userId  movieId  rating   timestamp                   title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama

In [8]:
movie_data.groupby('title')['rating'].mean().head()

title
"Great Performances" Cats (1998)           1.750000
$9.99 (2008)                               3.833333
'Hellboy': The Seeds of Creation (2004)    2.000000
'Neath the Arizona Skies (1934)            0.500000
'Round Midnight (1986)                     2.250000
Name: rating, dtype: float64

In [9]:
movie_data.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
Burn Up! (1991)                                     5.0
Absolute Giganten (1999)                            5.0
Gentlemen of Fortune (Dzhentlmeny udachi) (1972)    5.0
Erik the Viking (1989)                              5.0
Reality (2014)                                      5.0
Name: rating, dtype: float64

In [10]:
movie_data.groupby('title')['rating'].count().sort_values(ascending=False).head()

title
Forrest Gump (1994)                          341
Pulp Fiction (1994)                          324
Shawshank Redemption, The (1994)             311
Silence of the Lambs, The (1991)             304
Star Wars: Episode IV - A New Hope (1977)    291
Name: rating, dtype: int64

In [11]:
ratings_mean_count = pd.DataFrame(movie_data.groupby('title')['rating'].mean())

In [12]:
ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('title')['rating'].count())

In [13]:
ratings_mean_count.head()

                                           rating  rating_counts
title
"Great Performances" Cats (1998)         1.750000              2
$9.99 (2008)                             3.833333              3
'Hellboy': The Seeds of Creation (2004)  2.000000              1
'Neath the Arizona Skies (1934)          0.500000              1
'Round Midnight (1986)                   2.250000              2

In [14]:
ratings_mean_count['Normalised Rating']=ratings_mean_count['rating_counts']/ratings_mean_count['rating']

In [16]:
ratings_mean_count.head()

,rating,rating_counts,Normalised Rating
title,,,
"""Great Performances"" Cats (1998)",1.750000,2,1.142857
$9.99 (2008),3.833333,3,0.782609
'Hellboy': The Seeds of Creation (2004),2.000000,1,0.500000
'Neath the Arizona Skies (1934),0.500000,1,2.000000
'Round Midnight (1986),2.250000,2,0.888889

# Ensuring the the number of people does not affect the rating by Normalising the same

In [18]:
ratings_mean_count.sort_values(by='Normalised Rating',ascending=False)

,rating,rating_counts,Normalised Rating
title,,,
Forrest Gump (1994),4.054252,341,84.109222
Pulp Fiction (1994),4.256173,324,76.124728
Jurassic Park (1993),3.706204,274,73.930084
"Silence of the Lambs, The (1991)",4.138158,304,73.462639
"Shawshank Redemption, The (1994)",4.487138,311,69.309208
Star Wars: Episode IV - A New Hope (1977),4.221649,291,68.930403
Toy Story (1995),3.872470,247,63.783586
Independence Day (a.k.a. ID4) (1996),3.483945,218,62.572745
"Matrix, The (1999)",4.183398,259,61.911398
Ace Ventura: Pet Detective (1994),2.871429,175,60.945274
Terminator 2: Judgment Day (1991),4.006329,237,59.156398
Aladdin (1992),3.674419,215,58.512658
Braveheart (1995),3.945175,228,57.792107
Batman (1989),3.397959,196,57.681682
Schindler's List (1993),4.303279,244,56.700952
True Lies (1994),3.515152,198,56.327586
Back to the Future (1985),4.015487,226,56.282094
Star Wars: Episode V - The Empire Strikes Back (1980),4.232906,234,55.281171
Dances with Wolves (1990),3.717822,202,54.332889
"Fugitive, The (1993)",3.953052,213,53.882423
Star Wars: Episode VI - Return of the Jedi (1983),4.059908,217,53.449489
"Lion King, The (1994)",3.777500,200,52.945069
Fargo (1996),4.256696,224,52.622968
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),4.193182,220,52.466125
American Beauty (1999),4.236364,220,51.931330
Men in Black (a.k.a. MIB) (1997),3.663158,190,51.867816
Apollo 13 (1995),3.902500,200,51.249199
"Mask, The (1994)",3.070064,157,51.139004
Dumb & Dumber (Dumb and Dumber) (1994),3.110759,158,50.791455
Speed (1994),3.566667,180,50.467290
...,...,...,...
Andrei Rublev (Andrey Rublyov) (1969),5.000000,1,0.200000
Mildred Pierce (2011),5.000000,1,0.200000
Mike's Murder (1984),5.000000,1,0.200000
"Grass Is Greener, The (1960)",5.000000,1,0.200000
The Last Days of Emma Blank (2009),5.000000,1,0.200000
Cul-de-sac (1966),5.000000,1,0.200000
Am Ende eiens viel zu kurzen Tages (Death of a superhero) (2011),5.000000,1,0.200000
"Curiosity of Chance, The (2006)",5.000000,1,0.200000
Robin Williams: Weapons of Self Destruction (2009),5.000000,1,0.200000
Big Eden (2000),5.000000,1,0.200000
Masquerade (1988),5.000000,1,0.200000
"Good Morning, Babylon (1987)",5.000000,1,0.200000
Max Keeble's Big Move (2001),5.000000,1,0.200000
"Good Earth, The (1937)",5.000000,1,0.200000
The Last Brickmaker in America (2001),5.000000,1,0.200000
Me Before You (2016),5.000000,1,0.200000
"Goat, The (1921)",5.000000,1,0.200000
Walker (1987),5.000000,1,0.200000
Mei and the Kittenbus (2002),5.000000,1,0.200000
Dancing in September (2000),5.000000,1,0.200000
American Ninja (1985),5.000000,1,0.200000
War Room (2015),5.000000,1,0.200000
The Man I Love (1997),5.000000,1,0.200000
Riding Giants (2004),5.000000,1,0.200000
American Ninja 3: Blood Hunt (1989),5.000000,1,0.200000
Message to Love: The Isle of Wight Festival (1996),5.000000,1,0.200000
"Ghost of Frankenstein, The (1942)",5.000000,1,0.200000
Ghost in the Shell 2.0 (2008),5.000000,1,0.200000
Richard Pryor Here and Now (1983),5.000000,1,0.200000
Amazing Grace (2006),5.000000,1,0.200000